<%- include('../partials/head') %>


    <div class="container">
        <h2 style= "margin-left: 5%;">Welcome to your dashboard, <%=user.first_name%>!</h2>
          <% if (recipes.length !== 0) { %>
      
          <div class="row row-cols-1 row-cols-md-2 row-cols-sm-2 row-cols-lg-4 gx-5 gy-5 m-4 " data-masonry='{"percentPosition": true }'>
            <% recipes.forEach((element, index) => { %>
      
            <div class="col">
      
              <div class="card">
                <a href="/recipes/<%= element.slug %> ">
                  <img
                    class="card-img-top"
                    src="<%= element.image %>"
                    alt="Card image cap"
                /></a>
                <div class="card-body">
                  <h7 class="card-title"><%= element.name %></h7>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
              <% }); %>
            </div>
      
            <% } else { %>
      
            <p>No product is available</p>
      
            <% } %>
          </div>




<%- include('../partials/foot') %>
</div>